<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/index.css">
    <title>첫 번째 사진</title>
</head>
<body>
<h1>Wonni Daily Picture!</h1>
<br><br>
<div class="left">
    <img class="picture" src="/images/얼라.jpg" width="600" height="800">
</div>

<div class="right">
    <h1>유치원 졸업 사진(예상)🤔</h1>
    <h2 class="pictureText">
        1. 초등학교 때 부모님이 이혼하셔서 초, 중학교 졸업 사진이 없어요... ㅠㅠ😥
        <br><br>
        2. 대학교 땐 우테코 & 코로나로 졸업 사진이 없어요...ㅠㅠ😥
        <br><br>
        3. 제 몇 안남은 졸업 사진이라서 의미 있음 && 엄마랑 동생까지 같이 찍힘!😮<br>(엄마 딸이 안 찍힌 건 조금 아쉽👍)
        <br><br>
        4. 제 소꿉친구 김병훈씨가 찍힘! 놀랍게도 10년 뒤 고등학교에서 재회 함🤸‍♂️<br>(같은 반도 됨 😮 but 지금은 안 친함😵)
        <br><br>
    </h2>


    <form action="/" method="get">
        <button>이전</button>
    </form>

    <form action="/next" method="get">
        <button>다음</button>
    </form>
</div>
</body>
</html>