<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/index.css">
    <title>게임 결과</title>
</head>
<body>
<h1>WEB CHESS GAME!</h1>
<div class="right">
    <form action="/" method="get">
        <button>처음으로</button>
    </form>

    <form action="/start" method="get">
        <button>다시 시작</button>
    </form>

    <p class="winner">우승자 : {{winnerColor}}</p>
    <p class="winner">점수: {{score}}</p>
</div>

<div class="left">
    {{#pieces}}
    <div style="position: relative;">
        <img src="/images/ChessBoard.png" alt="ChessBoard" width="800" height="800">
        <div style="position: absolute; top: 25px; left: 25px;">
            <img src="/images/{{this.a8}}.png" alt="{{this.a8}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 25px; left: 125px;">
            <img src="/images/{{this.b8}}.png" alt="{{this.b8}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 25px; left: 225px;">
            <img src="/images/{{this.c8}}.png" alt="{{this.c8}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 25px; left: 325px;">
            <img src="/images/{{this.d8}}.png" alt="{{this.d8}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 25px; left: 425px;">
            <img src="/images/{{this.e8}}.png" alt="{{this.e8}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 25px; left: 525px;">
            <img src="/images/{{this.f8}}.png" alt="{{this.f8}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 25px; left: 625px;">
            <img src="/images/{{this.g8}}.png" alt="{{this.g8}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 25px; left: 725px;">
            <img src="/images/{{this.h8}}.png" alt="{{this.h8}}" width="50px" height="70px">
        </div>

        <div style="position: absolute; top: 125px; left: 25px;">
            <img src="/images/{{this.a7}}.png" alt="{{this.a7}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 125px; left: 125px;">
            <img src="/images/{{this.b7}}.png" alt="{{this.b7}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 125px; left: 225px;">
            <img src="/images/{{this.c7}}.png" alt="{{this.c7}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 125px; left: 325px;">
            <img src="/images/{{this.d7}}.png" alt="{{this.d7}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 125px; left: 425px;">
            <img src="/images/{{this.e7}}.png" alt="{{this.e7}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 125px; left: 525px;">
            <img src="/images/{{this.f7}}.png" alt="{{this.f7}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 125px; left: 625px;">
            <img src="/images/{{this.g7}}.png" alt="{{this.g7}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 125px; left: 725px;">
            <img src="/images/{{this.h7}}.png" alt="{{this.h7}}" width="50px" height="70px">
        </div>

        <div style="position: absolute; top: 225px; left: 25px;">
            <img src="/images/{{this.a6}}.png" alt="{{this.a6}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 225px; left: 125px;">
            <img src="/images/{{this.b6}}.png" alt="{{this.a6}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 225px; left: 225px;">
            <img src="/images/{{this.c6}}.png" alt="{{this.a6}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 225px; left: 325px;">
            <img src="/images/{{this.d6}}.png" alt="{{this.a6}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 225px; left: 425px;">
            <img src="/images/{{this.e6}}.png" alt="{{this.a6}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 225px; left: 525px;">
            <img src="/images/{{this.f6}}.png" alt="{{this.a6}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 225px; left: 625px;">
            <img src="/images/{{this.g6}}.png" alt="{{this.a6}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 225px; left: 725px;">
            <img src="/images/{{this.h6}}.png" alt="{{this.a6}}" width="50px" height="70px">
        </div>

        <div style="position: absolute; top: 325px; left: 25px;">
            <img src="/images/{{this.a5}}.png" alt="{{this.a5}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 325px; left: 125px;">
            <img src="/images/{{this.b5}}.png" alt="{{this.a5}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 325px; left: 225px;">
            <img src="/images/{{this.c5}}.png" alt="{{this.a5}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 325px; left: 325px;">
            <img src="/images/{{this.d5}}.png" alt="{{this.a5}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 325px; left: 425px;">
            <img src="/images/{{this.e5}}.png" alt="{{this.a5}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 325px; left: 525px;">
            <img src="/images/{{this.f5}}.png" alt="{{this.a5}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 325px; left: 625px;">
            <img src="/images/{{this.g5}}.png" alt="{{this.a5}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 325px; left: 725px;">
            <img src="/images/{{this.h5}}.png" alt="{{this.a5}}" width="50px" height="70px">
        </div>

        <div style="position: absolute; top: 425px; left: 25px;">
            <img src="/images/{{this.a4}}.png" alt="{{this.a4}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 425px; left: 125px;">
            <img src="/images/{{this.b4}}.png" alt="{{this.b4}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 425px; left: 225px;">
            <img src="/images/{{this.c4}}.png" alt="{{this.c4}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 425px; left: 325px;">
            <img src="/images/{{this.d4}}.png" alt="{{this.d4}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 425px; left: 425px;">
            <img src="/images/{{this.e4}}.png" alt="{{this.e4}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 425px; left: 525px;">
            <img src="/images/{{this.f4}}.png" alt="{{this.f4}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 425px; left: 625px;">
            <img src="/images/{{this.g4}}.png" alt="{{this.g4}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 425px; left: 725px;">
            <img src="/images/{{this.h4}}.png" alt="{{this.h4}}" width="50px" height="70px">
        </div>

        <div style="position: absolute; top: 525px; left: 25px;">
            <img src="/images/{{this.a3}}.png" alt="{{this.a3}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 525px; left: 125px;">
            <img src="/images/{{this.b3}}.png" alt="{{this.b3}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 525px; left: 225px;">
            <img src="/images/{{this.c3}}.png" alt="{{this.c3}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 525px; left: 325px;">
            <img src="/images/{{this.d3}}.png" alt="{{this.d3}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 525px; left: 425px;">
            <img src="/images/{{this.e3}}.png" alt="{{this.e3}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 525px; left: 525px;">
            <img src="/images/{{this.f3}}.png" alt="{{this.f3}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 525px; left: 625px;">
            <img src="/images/{{this.g3}}.png" alt="{{this.g3}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 525px; left: 725px;">
            <img src="/images/{{this.h3}}.png" alt="{{this.h3}}" width="50px" height="70px">
        </div>

        <div style="position: absolute; top: 625px; left: 25px;">
            <img src="/images/{{this.a2}}.png" alt="{{this.a2}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 625px; left: 125px;">
            <img src="/images/{{this.b2}}.png" alt="{{this.b2}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 625px; left: 225px;">
            <img src="/images/{{this.c2}}.png" alt="{{this.c2}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 625px; left: 325px;">
            <img src="/images/{{this.d2}}.png" alt="{{this.d2}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 625px; left: 425px;">
            <img src="/images/{{this.e2}}.png" alt="{{this.e2}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 625px; left: 525px;">
            <img src="/images/{{this.f2}}.png" alt="{{this.f2}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 625px; left: 625px;">
            <img src="/images/{{this.g2}}.png" alt="{{this.g2}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 625px; left: 725px;">
            <img src="/images/{{this.h2}}.png" alt="{{this.h2}}" width="50px" height="70px">
        </div>

        <div style="position: absolute; top: 725px; left: 25px;">
            <img src="/images/{{this.a1}}.png" alt="{{this.a1}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 725px; left: 125px;">
            <img src="/images/{{this.b1}}.png" alt="{{this.b1}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 725px; left: 225px;">
            <img src="/images/{{this.c1}}.png" alt="{{this.c1}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 725px; left: 325px;">
            <img src="/images/{{this.d1}}.png" alt="{{this.d1}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 725px; left: 425px;">
            <img src="/images/{{this.e1}}.png" alt="{{this.e1}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 725px; left: 525px;">
            <img src="/images/{{this.f1}}.png" alt="{{this.f1}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 725px; left: 625px;">
            <img src="/images/{{this.g1}}.png" alt="{{this.g1}}" width="50px" height="70px">
        </div>
        <div style="position: absolute; top: 725px; left: 725px;">
            <img src="/images/{{this.h1}}.png" alt="{{this.h1}}" width="50px" height="70px">
        </div>
    </div>
    {{/pieces}}
</div>
</body>
</html>