<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/index.css">
    <title>두 번째 사진</title>
</head>
<body>
<h1>Wonni Daily Picture!</h1>
<br><br>
<div class="left">
    <img class="picture" src="/images/중졸.jpg" width="600" height="800">
</div>

<div class="right">
    <h1>중졸 소주캉😫</h1>
    <h2 class="pictureText">
        1. 성인 이전 사진은 인화해서 (고향)집에 보관해서 가진 게 5장도 안되더라고요...
        <br><br>
        2. 예전에 친구랑 보고 놀려고 찍었던 중졸 사진(but 찍을 당시엔 초졸 학력...😭)
        <br><br>
        3. 반항심이 누구보다 투철한 시기라서 **두발 규제에 반발**하여 학교 남학생 중 가장 머리를 길렀음😰(하...)
        <br><br>
        4. 씨앗부터 보이는 중3병 + 반란군의 눈빛에서 우테코로 가는 미래가 보임🤪
        <br><br>
    </h2>


    <form action="/daily" method="get">
        <button>이전</button>
    </form>

    <form action="/" method="get">
        <button>처음으로</button>
    </form>
</div>
</body>
</html>